@model IEnumerable<Omadiko.Entities.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<!-- Page Content  -->
<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Users List</h4>
                        </div>
                    </div>

                    <div class="iq-card-body">
                        <div class="table-responsive">

                            <table class="data-tables table table-striped table-bordered text-center" style="width:100%">
                                <thead>
                                    <tr>
                                        <th width="5%">
                                            No.
                                        </th>
                                        <th style="width: 15%;">
                                            Photo Url
                                        </th>
                                        <th style="width: 15%;">
                                            @Html.ActionLink("First Name", "Index", new { sortBy = ViewBag.SortFNameParameter})
                                        </th>
                                        <th style="width: 15%;">
                                            @Html.ActionLink("Last Name", "Index", new { sortBy = ViewBag.SortLNameParameter})
                                        </th>
                                        <th style="width: 15%;">
                                            Gender
                                        </th>
                                        <th style="width: 15%;">
                                            Adderess
                                        </th>
                                        <th style="width: 15%;">
                                            @Html.ActionLink("City", "Index", new { sortBy = ViewBag.SortCityParameter})
                                        </th>
                                        <th style="width: 15%;">
                                            Postal code
                                        </th>
                                        <th style="width: 15%;">
                                            @Html.ActionLink("Country", "Index", new { sortBy = ViewBag.SortCountryParameter})
                                        </th>
                                        <th style="width: 15%;">
                                            Phone
                                        </th>
                                        <th style="width: 15%;">
                                            @Html.ActionLink("Date of Birth", "Index", new { sortBy = ViewBag.SortDoBParameter })
                                        </th>
                                        <th width="10%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Count() == 0)
                                    {
                                        <tr>
                                            <td colspan="4">No match found.</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var subscribers in Model)
                                        {
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        @if (!(subscribers.PhotoUrl is null))
                                        {
                                            <img src="@Url.Content(subscribers.PhotoUrl)" class="img-fluid avatar-50 rounded" alt="author-profile">
                                        }
                                        else
                                        {
                                            <img src="~/Content/images/notavailable400x410.jpg" class="img-fluid avatar-50 rounded" alt="author-profile">
                                        }
                                    </td>
                                    <td>
                                        @subscribers.FirstName
                                    </td>
                                    <td>
                                        @subscribers.LastName
                                    </td>
                                    <td>
                                        @subscribers.Gender
                                    </td>
                                    <td>
                                        @subscribers.Address
                                    </td>
                                    <td>
                                        @subscribers.City
                                    </td>
                                    <td>
                                        @subscribers.PostalCode
                                    </td>
                                    <td>
                                        @subscribers.Country
                                    </td>
                                    <td>
                                        @subscribers.Phone
                                    </td>
                                    <td>
                                        @if (subscribers.DateOfBirth.HasValue)
                                        {
                                            @subscribers.DateOfBirth.Value.ToString("d")
                                        }
                                        else
                                        {
                                            <text>Unavailable </text>
                                        }
                                    </td>
                                    <td>
                                        <div class="flex align-items-center list-user-action">
                                            @*<a class="bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="~/Genres/Edit/@subscribers.Id"><i class="ri-pencil-line"></i></a>*@
                                            <a class="bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="~/Genres/Delete/@subscribers.Id"><i class="ri-delete-bin-line"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

