@using Omadiko.Entities.Models
@using Microsoft.AspNet.Identity
@model Omadiko.Entities.ApplicationUser

<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row profile-content">
            <div class="col-12 col-md-12 col-lg-4">
                <div class="iq-card">
                    <div class="iq-card-body profile-page">
                        <div class="profile-header">
                            <div class="cover-container text-center">
                                @if (!(Model.PhotoUrl is null))
                                {
                                    <img src="@Url.Content(Model.PhotoUrl)" alt="profile-bg" class="rounded-circle img-fluid">
                                }
                                else
                                {
                                    if (Model.Gender == Gender.Male)
                                    {
                                        <img src="~/Content/images/UserImages/male.png" alt="profile-bg" class="rounded-circle img-fluid">
                                    }
                                    else if (Model.Gender == Gender.Female)
                                    {
                                        <img src="~/Content/images/UserImages/female.png" alt="profile-bg" class="rounded-circle img-fluid">
                                    }
                                    else
                                    {
                                        <img src="~/Content/images/UserImages/nonbinary.png" alt="profile-bg" class="rounded-circle img-fluid">
                                    }
                                }

                                <div class="profile-detail mt-3">
                                    <h3>@Model.FirstName @Model.LastName</h3>
                                    <p>

                                    </p>
                                </div>
                                <div class="iq-social d-inline-block align-items-center">
                                    <ul class="list-inline d-flex p-0 mb-0 align-items-center">
                                        <li>
                                            <a href="#" class="avatar-40 rounded-circle bg-primary mr-2 facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" class="avatar-40 rounded-circle bg-primary mr-2 twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" class="avatar-40 rounded-circle bg-primary mr-2 youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" class="avatar-40 rounded-circle bg-primary pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-8">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between align-items-center mb-0">
                        <div class="iq-header-title">
                            <h4 class="card-title mb-0">Personal Details</h4>
                        </div>
                        <div class="iq-card-header-toolbar d-flex align-items-center">
                            <div class="dropdown">
                                <span class="dropdown-toggle text-primary" id="dropdownMenuButton05" data-toggle="dropdown">
                                    <i class="ri-more-fill"></i>
                                </span>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton05">
                                    <a class="dropdown-item" href="~/ApplicationUser/EditProfile/@User.Identity.GetUserId()"><i class="ri-pencil-fill mr-2"></i>Edit Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <ul class="perfomer-lists m-0 p-0 list-inline">
                            <li>
                                <div class="d-flex align-items-center justify-content-between mb-3 ml-auto iq-card-header-toolbar">
                                    <h5>First Name</h5>
                                    <p class="mb-0">@Model.FirstName</p>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center justify-content-between mb-3 ml-auto iq-card-header-toolbar">
                                    <h5>Last Name</h5>
                                    <p class="mb-0">@Model.LastName</p>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center justify-content-between mb-3 ml-auto iq-card-header-toolbar">
                                    <h5>Birthday</h5>
                                    <p class="mb-0">@Model.DateOfBirth</p>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center justify-content-between mb-3 ml-auto iq-card-header-toolbar">
                                    <h5>Gender</h5>
                                    <p class="mb-0">@Model.Gender</p>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center justify-content-between mb-3 ml-auto iq-card-header-toolbar">
                                    <h5>Phone</h5>
                                    <p class="mb-0">@Model.Phone</p>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center justify-content-between mb-3 ml-auto iq-card-header-toolbar">
                                    <h5>Address</h5>
                                    <p class="mb-0">@Model.Address, @Model.City @Model.Country</p>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center justify-content-between mb-3 ml-auto iq-card-header-toolbar">
                                    <h5>Email</h5>
                                    <p class="mb-0">@Model.Email</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between align-items-center mb-0">
                        <div class="iq-header-title">
                            <h4 class="card-title mb-0">Subscription Details</h4>
                        </div>
                        <div class="iq-card-header-toolbar d-flex align-items-center">
                            <div class="dropdown">
                                <span class="dropdown-toggle text-primary" id="dropdownMenuButton05" data-toggle="dropdown">
                                    <i class="ri-more-fill"></i>
                                </span>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton05">
                                    <a class="dropdown-item" href="~/ApplicationUser/SubscriptionDetails/@User.Identity.GetUserId()"><i class="ri-eye-fill mr-2"></i>View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <ul class="perfomer-lists m-0 p-0 list-inline">
                            @foreach (var subscription in Model.Subscriptions)
                            {
                                <li>
                                    <div class="d-flex align-items-center justify-content-between mb-3 ml-auto iq-card-header-toolbar">
                                        <h5>Subscription Date</h5>
                                        <p class="mb-0">
                                            @subscription.OrderDate.ToShortDateString()
                                        </p>
                                    </div>
                                </li>

                                foreach (var sdetails in subscription.SubscriptionDetails)
                                {
                                    <li>
                                        <div class="d-flex align-items-center justify-content-between mb-3 ml-auto iq-card-header-toolbar">
                                            <h5>Membership Type</h5>
                                            <p class="mb-0">@sdetails.Membership.Type</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex align-items-center justify-content-between mb-3 ml-auto iq-card-header-toolbar">
                                            <h5>Subscription Fee</h5>
                                            <p class="mb-0">@sdetails.Price €</p>
                                        </div>
                                    </li>
                                }
                                <li>
                                    <div class="d-flex align-items-center justify-content-between mb-3 ml-auto iq-card-header-toolbar">
                                        <h5>Payment Method</h5>
                                        <p class="mb-0">
                                            PayPal
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex align-items-center justify-content-between mb-3 ml-auto iq-card-header-toolbar">
                                        <h5>Billing Address</h5>
                                        <p class="mb-0">
                                            @subscription.CustomerAddress, @subscription.CustomerCity, @subscription.CustomerCountry
                                        </p>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>