@model IEnumerable<Omadiko.Entities.Album> 

@{
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<!-- Page Content  -->

<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Albums List</h4>
                        </div>
                        <div class="iq-card-header-toolbar d-flex align-items-center">
                            <a href="~/Album/Create" class="btn btn-primary">Add New Album</a>
                        </div>
                    </div>

                    <div class="iq-card-header d-flex justify-content-start">
                        @using (Html.BeginForm("Index", "Album", FormMethod.Get))
                        {
                            <b>Search By:</b> @Html.RadioButton("searchBy", "Title") <text>Title</text>
                                              @Html.RadioButton("searchBy", "Artist") <text>Artist</text>
                                              @Html.TextBox("search") <input class="btn btn-outline-primary" type="submit" name="name" value="Search" />
                        }
                    </div>

                    <div class="iq-card-body">
                        <div class="table-responsive">
                            <table class="data-tables table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;">No</th>
                                        <th style="width: 5%;">Picture</th>
                                        <th style="width: 15%;">
                                            @Html.DisplayNameFor(model => model.Title)
                                        </th>
                                        <th style="width: 15%;">
                                            @Html.DisplayNameFor(model => model.Artist)
                                        </th>
                                        <th style="width: 15%;">
                                            @Html.DisplayNameFor(model => model.Genres)
                                        </th>
                                        <th style="width: 15%;">
                                            @Html.DisplayNameFor(model => model.ReleaseDate)
                                        </th>
                                        <th style="width: 10%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model.Count() == 0)
                                    {
                                        <tr>
                                            <td colspan="4">No match found.</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var album in Model)
                                        {
                                            <tr>
                                                <td>1</td>
                                                <td>
                                                    @if (!(album.PhotoUrl is null))
                                                    {
                                                        <img src="@Url.Content(album.PhotoUrl)" class="img-fluid avatar-50 rounded" alt="author-profile">
                                                    }
                                                    else
                                                    {
                                                        <img src="~/Content/images/notavailable400x410.jpg" class="img-fluid avatar-50 rounded" alt="author-profile">
                                                    }
                                                </td>
                                                <td>
                                                    @album.Title
                                                </td>
                                                <td>
                                                    @String.Format($"{album.Artist.Name} {album.Artist.LastName}")
                                                </td>
                                                <td>
                                                    <ul>
                                                        @foreach (var genre in album.Genres)
                                                        {
                                                            <li>@genre.Kind</li>
                                                        }
                                                    </ul>
                                                </td>
                                                <td>
                                                    @album.ReleaseDate.Year
                                                </td>
                                                <td>
                                                    <div class="flex align-items-center list-user-action">
                                                        <a class="bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="~/Album/Edit/@album.AlbumId"><i class="ri-pencil-line"></i></a>
                                                        <a class="bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="~/Album/Delete/@album.AlbumId"><i class="ri-delete-bin-line"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>