@model IEnumerable<Omadiko.Entities.Artist>


@{
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}


<!-- Page Content  -->
<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Artists Lists</h4>
                        </div>
                        <div class="iq-card-header-toolbar d-flex align-items-center">
                            <a href="~/Artist/Create" class="btn btn-primary">Add New Artist</a>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div class="table-responsive">
                            <table class="data-tables table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;">No</th>
                                        <th style="width: 5%;">Profile</th>
                                        <th style="width: 10%;">
                                            First Name
                                        </th>
                                        <th style="width: 10%;">
                                            @Html.DisplayNameFor(model => model.LastName)
                                        </th>
                                        <th style="width: 10%;">
                                            @Html.DisplayNameFor(model => model.Country)
                                        </th>
                                        <th style="width: 25%;">@Html.DisplayNameFor(model => model.DateOfBirth)</th>
                                        <th style="width: 25%;">@Html.DisplayNameFor(model => model.DateOfDeath)</th>
                                        <th style="width: 10%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var artist in Model)
                                    {
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                @if (!(artist.PhotoUrl is null))
                                                {
                                                    <img src="@Url.Content(artist.PhotoUrl)" class="img-fluid avatar-50 rounded" alt="author-profile">
                                                }
                                                else
                                                {
                                                    <img src="~/Content/images/notavailable400x410.jpg" class="img-fluid avatar-50 rounded" alt="author-profile">
                                                }
                                            </td>
                                            <td>
                                                @artist.Name 
                                            </td>
                                            <td>
                                                @artist.LastName
                                            </td>
                                            <td>
                                                @artist.Country
                                            </td>
                                            <td>
                                                @if (artist.DateOfBirth.HasValue)
                                                {
                                                    @artist.DateOfBirth.Value.ToString("d")
                                                }
                                                else
                                                {
                                                    <text>nothing </text>
                                                }
                                            </td>
                                            <td>
                                                @if (artist.DateOfDeath.HasValue)
                                                {
                                                    @artist.DateOfDeath.Value.ToString("d")
                                                }
                                                else
                                                {
                                                    <text> </text>
                                                }
                                            </td>
                                            <td>
                                                <div class="flex align-items-center list-user-action">
                                                    <a class="bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="~/Artist/Edit/@artist.ArtistId"><i class="ri-pencil-line"></i></a>
                                                    <a class="bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="~/Artist/Delete/@artist.ArtistId"><i class="ri-delete-bin-line"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>