@model Omadiko.WebApp.Models.ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}


<section class="sign-in-page">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-md-6 col-sm-12 col-12 ">
                <div class="sign-user_card ">
                    <div class="sign-in-page-data">
                        <div class="sign-in-from w-100 m-auto pt-5">
                            <h1 class="mb-0">Reset Password</h1>
                            <p class="text-white">Enter your email address and we'll send you an email with instructions to reset your password.</p>

                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal mt-4", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <h4>Enter your email.</h4>
                                <hr />
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group sign-info d-inline-block w-100">
                                    <div class="col-md-offset-2 col-md-12">
                                        <button type="submit" class="btn btn-primary float-right">Reset Password</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


