@model Omadiko.WebApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


@{
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}

<section class="sign-in-page">
    <div class="container">
        <div class="row justify-content-center align-items-center height-self-center">
            <div class="col-md-6 col-sm-12 col-12 align-self-center">
                <div class="sign-user_card ">
                    <div class="sign-in-page-data">
                        <div class="sign-in-from w-100 m-auto pt-5">
                            <h1 class="mb-3 text-center">Register</h1>
                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <h4>Create a new account.</h4>
                                <hr />
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group" style="justify-content:center">
                                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-12 control-label" })          
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-12">
                                        @Html.EnumDropDownListFor(m => m.Gender, htmlAttributes: new { @class = "form-control", style="color:grey" })
                                        @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-12">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-12 control-label" })
                                    <div class="col-md-12">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group sign-info">
                                    <div class="col-md-offset-2 col-md-12">
                                        <button type="submit" class="btn btn-primary mb-2">Register</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="d-flex justify-content-center links">
                            <span>Do you already have an account? @Html.ActionLink("Log in", "Login")</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


                                
                            }
                        
                    


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
